* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 0;
	box-sizing: border-box;
	background-color: darkslategrey;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

article {
	flex: 1;
}

.header {
	align-items: center;
	gap: 12px;
	background-color: cadetblue;
	font-size: 25px;
	padding: 1em;
	text-align: center;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.71);
	-moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.71);
	box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.71);
}

.header-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-flex h1 {
	flex-grow: 1;
	text-align: left;
	padding-left: 50px;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+.content {
	padding-top: 102px;

}

nav ul li button {
	width: 140px;
	height: 60px;
	outline: auto;
	border: 2px solid;
	color: red;
	padding: 0px;
	background-color: black;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
}


h2 {
	font-size: 70px;
	text-align: left;
	margin: 20px 0;
	color: #5aff85;

}

footer p {
	color: black;
	font-weight: 300;
	font-size: medium;
	font: message-box;
}


nav ul li {
	display: inline-flex;
	margin-right: 20px;

}



section {
	padding: 2em;
	min-height: 100vh;
}

#About {
	min-height: calc(100vh - 157px);
}

#About img {
	min-height: 300px;
	min-width: 300px;
	border-radius: 5px;
}

#About .flex-container {
	display: flex;
	min-height: calc(100vh - 221px);
	align-items: center;
	justify-content: center;
	padding: 0 100px;
}

#About .text-container {
	min-height: calc(100vh - 221px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 40px;
}

#About .text-container p {
	
	text-align: left;
	color: #d9d7d7;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 1.5px;
}

#About .text-container h2 {
	color: #5aff85;
	font-size: 70px;
	text-align: left;
	margin: 20px 0;
}

#Academic .flex-container {
	display: flex;
	min-height: calc(100vh - 221px);
	align-items: center;
	justify-content: center;
	padding: 0 100px;
}

#Academic .text-container {
	min-height: calc(100vh - 221px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 40px;
}

#Academic .text-container p {
	
	text-align: left;
	color: #d9d7d7;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.4px;
}

#Academic .text-container h2 
{
	color: #5aff85;
	font-size: 70px;
	text-align: left;
	margin: 20px 0;
}
#Academic img {
	min-height: 300px;
	min-width: 300px;
	border-radius: 5px;
}


#Professional .flex-container {
	display: flex;
	min-height:auto;
	align-items: left;
	justify-content: center;
	padding: 0 100px;
}

#Professional .text-container {
	min-height: calc(100vh - 221px);
	display: flex;
	justify-content:left;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 40px;
}

#Professional .text-container p {
	
	text-align: left;
	color: #d9d7d7;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.4px;
}

#Professional .text-container h2 {
	color: #5aff85;
	font-size: 70px;
	text-align: left;
	margin: 20px 0;
}

#Professional img {
	min-height: 300px;
	min-width: 300px;
	border-radius: 5px;
}


#Skills .flex-container button {
	background: #5aff85;
	padding: 15px 17px;
	color: black;
	border: none;
	border-radius: 5px;
	margin-right: 20px;
}


#Skills .flex-container button:hover {
	cursor: pointer;
}

#Skills h3 {
	color: #5aff85;
	font-size: 45px;
	text-align: left;
}
.currency-input-container .row {
	display: flex;
	max-width: 550px;
	justify-content: space-between;
	padding: 20px 0;
}
.currency-input-container .row label {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
}

.currency-input-container .row select, .currency-input-container .row input {
	width: 250px;
	height: 25px;
	border-radius: 5px;
}
footer {
	background-color: lightseagreen;
	color: aqua;
	padding: 1em;
	position: bottom;
	bottom: 0;
	width: auto;
	min-height: 50px;
	margin-top: auto;
}
.currency-submit-container button:hover {
	cursor: pointer;
}
.currency-submit-container button {
	background: #5aff85;
	padding: 15px 17px;
	color: black;
	border: none;
	border-radius: 5px;
	margin-right: 20px;
}
.error {
	border: 2px solid red;
}
#errorMessage {
	color: red;
}
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.chart-container {
    margin-top: 20px;
}

.controls {
    margin-top: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
}

textarea {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
    }

    .counter {
      font-size: 12px;
      color: #888;
    }

    button {
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
	#Academic p{
		
		text-align: left;
		color: #d9d7d7;
		font-size: 25px;
		line-height: 30px;
		letter-spacing: 0.4px;
	}
.email-button {

display: inline-block;

padding: 10px 20px;

background-color: #007bff;

color: #fff;

text-decoration: none;

border-radius: 5px;

font-weight: bold;

transition: background-color 0.3s ease;

}


.email-button:hover {

background-color: #0056b3;

}
